In [2]:
import pandas as pd

In [4]:
list_x = [i for i in 'demo']

In [5]:
print(list_x)

['d', 'e', 'm', 'o']

In [12]:
df = pd.read_csv('df.csv')

In [13]:
df

   Unnamed: 0  A  B
0           0  A  1
1           1  B  2
2           2  C  3